/* [Master Stylesheet - v1.0] */
/* :: 1.0 Import Fonts */
@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow:400,400i,500,500i,600,600i,700,700i");

@import url(css/owl.carousel.min.css);



/* :: 3.0 Base CSS */





.single-album {
  position: relative;
  z-index: 1;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  margin-bottom: 30px; }
  .single-album img {
    width: 100%; }
  .single-album .album-info {
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px; }
    .single-album .album-info h5 {
      font-size: 18px;
      margin-bottom: 0;
      text-transform: uppercase; }
    .single-album .album-info p {
      margin-bottom: 0; }
  .single-album:hover, .single-album:focus {
    box-shadow: 0 5px 70px 0 rgba(0, 0, 0, 0.15); }

.single-album-area {
  position: relative;
  z-index: 1;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  margin-bottom: 30px; }
  .single-album-area .album-thumb {
    position: relative;
    z-index: 1; }
    .single-album-area .album-thumb .album-price p {
      position: absolute;
      top: 15px;
      left: 15px;
      background-color: #333333;
      margin-bottom: 0;
      line-height: 1;
      padding: 5px 15px;
      border-radius: 15px;
      z-index: 20; }
    .single-album-area .album-thumb .play-icon a {
      color: #fff;
      font-size: 50px;
      position: absolute;
      top: 50%;
      left: 50%;
      line-height: 1;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .single-album-area img {
    width: 100%; }
  .single-album-area .album-info {
    display: block;
    position: relative;
    z-index: 1;
    padding-top: 15px;
    padding-bottom: 15px; }
    .single-album-area .album-info h5 {
      font-size: 18px;
      margin-bottom: 0;
      text-transform: uppercase; }
    .single-album-area .album-info p {
      margin-bottom: 0; }

.albums-slideshow {
  position: relative;
  z-index: 1; }
  .albums-slideshow .single-album {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    margin-bottom: 0;
    border: 1px solid transparent; }
    .albums-slideshow .single-album:hover, .albums-slideshow .single-album:focus {
      border: 1px solid #000000;
      box-shadow: none;
      background-color: #f5f9fa; }
  .albums-slideshow .owl-prev,
  .albums-slideshow .owl-next {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    background-color: #4e4c4c;
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid #000000;
    top: 50%;
    left: -25px;
    margin-top: -50px;
    z-index: 50;
    text-align: center;
    line-height: 48px;
    opacity: 0;
    visibility: hidden; }
    @media only screen and (max-width: 767px) {
      .albums-slideshow .owl-prev,
      .albums-slideshow .owl-next {
        left: 0; } }
    .albums-slideshow .owl-prev:hover, .albums-slideshow .owl-prev:focus,
    .albums-slideshow .owl-next:hover,
    .albums-slideshow .owl-next:focus {
      background-color: #000000;
      color: #fff; }
  .albums-slideshow .owl-next {
    left: auto;
    right: -25px; }
    @media only screen and (max-width: 767px) {
      .albums-slideshow .owl-next {
        right: 0; } }
  .albums-slideshow:hover .owl-prev,
  .albums-slideshow:hover .owl-next {
    opacity: 1;
    visibility: visible; }

/* :: 10.0 Songs Area CSS */

/* :: 11.0 Miscellaneous Area CSS */


/* :: 12.0 Login Area CSS */

/* :: 13.0 Services Area CSS */

/* :: 15.0 Breadcumb Area CSS */

/* :: 17.0 Skills Area CSS */


/* :: 18.0 Contact Area CSS */

/* :: 20.1.0 Single Cool Facts CSS */


/* :: 20.2.0 Accordians Area CSS */


/* :: 20.3.0 Tabs Area CSS */



/* ====== The End ====== */

/*# sourceMappingURL=style.css.map */
