
body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
}
.navbar {
    background-color: #333;
    padding: 10px 20px;
   
}
.navbar-brand {
    display: flex;
    align-items: center;
    color: #FFA500;
    font-size: 2rem;
    font-weight: bold;
}
.navbar-brand img {
    height: 60px;

}

.navbar-nav .nav-link {
    color: #FFA500;
    font-weight: bold;
    margin-left: 15px;
}
.active {
    background-color: #FFA500;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}
.navbar-nav .nav-link:hover {
    color: #fff;
}
.hero {

text-align: center;
padding: 50px 0;
font-family: 'Lato, sans-serif';
box-shadow: -15px 200px 179px -186px rgba(0,0,0,0.61) inset;
-webkit-box-shadow: -15px 200px 179px -186px rgba(0,0,0,0.61) inset;
-moz-box-shadow: -15px 200px 179px -186px rgba(0,0,0,0.61) inset;

background-repeat: no-repeat; /* Không lặp lại hình ảnh */
background-size: cover; /* Phóng to hoặc thu nhỏ hình ảnh để bao phủ toàn bộ phần tử */
height: auto;
}

.hero h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #ffd900;
    line-height: 60px;
  font-size: 60px;
  letter-spacing: 5px;

  font-weight: bolder;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 1);
}
.hero .btn {
    margin-top: 20px;
}
.content {
    padding: 50px 0;
}

.footer {
    background-color: #444;
    padding: 20px 0;
    text-align: center;
}

.img-fluid2 {
    width: 70px;
    height: 70px;
  }

  .news {
    padding: 10px;
  }

  .news:hover {
    background-color: #615e5e;
    transition: 0.5s;
  }




.hero h3{
font-size: 25px;
color: #ffffff;
font-weight: bold;
}
h1{
font-family: 'Lato, sans-serif';
}
.btn2 {
display: flex;
justify-content: center;
align-items: center;
width: 14rem;
overflow: hidden;
height: 4rem;
background-size: 300% 300%;
backdrop-filter: blur(1rem);
border-radius: 5rem;
transition: 0.5s;
animation: gradient_301 5s ease infinite;
border: double 4px transparent;
background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
background-origin: border-box;
background-clip: content-box, border-box;

}

#container-stars {
position: absolute;
z-index: -1;
width: 100%;
height: 100%;
overflow: hidden;
transition: 0.5s;
backdrop-filter: blur(1rem);
border-radius: 5rem;

}

.btn2 strong {
z-index: 2;
font-family: 'Avalors Personal Use';
font-size: 30px;
letter-spacing: 5px;
color: #FFFFFF;
text-shadow: 0 0 4px white;
}

#glow {
position: absolute;
display: flex;
width: 12rem;
}

.circle2 {
width: 100%;
height: 30px;
filter: blur(2rem);
animation: pulse_3011 4s infinite;
z-index: -1;
}

.circle:nth-of-type(1) {
background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
z-index: 1;
background-color: #212121;
}

.btn2:hover {
transform: scale(1.1)
}

.btn2:active {
border: double 4px #FE53BB;
background-origin: border-box;
background-clip: content-box, border-box;
animation: none;
}

.btn2:active .circle {
background: #FE53BB;
}

#stars {
position: relative;
background: transparent;
width: 200rem;
height: 200rem;
}

#stars::after {
content: "";
position: absolute;
top: -10rem;
left: -100rem;
width: 100%;
height: 100%;
animation: animStarRotate 90s linear infinite;
}

#stars::after {
background-image: radial-gradient(#ffffff 1px, transparent 1%);
background-size: 50px 50px;
}

#stars::before {
content: "";
position: absolute;
top: 0;
left: -50%;
width: 170%;
height: 500%;
animation: animStar 60s linear infinite;
}

#stars::before {
background-image: radial-gradient(#ffffff 1px, transparent 1%);
background-size: 50px 50px;
opacity: 0.5;
}

@keyframes animStar {
from {
transform: translateY(0);
}

to {
transform: translateY(-135rem);
}
}

@keyframes animStarRotate {
from {
transform: rotate(360deg);
}

to {
transform: rotate(0);
}
}

@keyframes gradient_301 {
0% {
background-position: 0% 50%;
}

50% {
background-position: 100% 50%;
}

100% {
background-position: 0% 50%;
}
}

@keyframes pulse_3011 {
0% {
transform: scale(0.75);
box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
}

70% {
transform: scale(1);
box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
}

100% {
transform: scale(0.75);
box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
}
